{% extends "base.html" %}

{% block title %}
Topic
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h1>{{topic.name}}</h1>
        {% if not posts %}
        <h3>There are no posts in this topic</h3>
        {% else %}
        <div>
            <ul class="list-group">
                {% for post in posts %}
                <li class="list-group-item">
                    <p style="font-size: 1.5rem">
                        {{post.content}}
                    </p>
                    {% if current_user.is_authenticated %}
                    {% if current_user.id == post.user_id %}
                    <div class="d-flex flex-row-reverse">
                        <a href="/delete/{{post.id}}">
                            <i class="bi bi-trash p-2 bd-highlight" style="font-size: 2rem"></i>
                        </a>
                        <a href="/change/{{post.id}}">
                            <i class="bi bi-pencil p-2 bd-highlight" style="font-size: 2rem"></i>
                        </a>
                    </div>
                    {% endif %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="/create_post/{{topic.id}}">
            <button class="btn btn-primary btn-block btn-lg mt-2">Create post</button>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}